@{
    var homeUrl = Href("~/");
    }

@*w-9 is a good size longer Site names*@

<div class="copyright w-8 w-fix w-omega"><a href="@homeUrl">@T("&#169; " + @WorkContext.CurrentSite.SiteName) @DateTime.Now.Year</a></div>
