<div class="credits w-12">
<span class="phone w-2">(555)555-5555</span>
<span class="email w-5">info@merrickhomeconstruction.com</span>
<span class="address w-5 w-omega">123 Example St, Weatherford, OK 73096</span>

  <span class="copyright w-5">@T("&#169; Merrick Home Construction LLC "+  @DateTime.Now.Year)</span>
</div>