@*<div class="credits info w-12">
    <span class="w-3 w-alpha"><a href="tel:1+555+555-5555">(555) 555-5555</a></span>
    <span class="w-4"><a href="mailto:amanda.n.harlin@gmail.com">info@merrickhomeconstruction.com</a></span>
    <span class="copyright w-5 w-omega"><a href="#">@T("&#169; Merrick Home Construction LLC " + @DateTime.Now.Year)</a></span></div>*@

<div class="contactinfo w-12 w-alpha w-omega">
    <h3>Contact Us</h3>
    <ul>
        <li class="w-6"><a href="tel:1+555+555-5555">(555) 555-5555</a></li>
        <li class="w-6"><a href="mailto:amanda.n.harlin@gmail.com">info@merrickhomeconstruction.com</a></li>
    </ul>
</div>

<div class="credits footerinfo w-12">
    <div class="w-3">
        <h3>Services</h3>
        <ul>
            <li>New Construction</li>
            <li>Home Remodeling</li>
        </ul>
    </div>
    <div class="w-3">
        <h3>Gallery</h3>
        <ul>
            <li>New Homes</li>
            <li>Kitchens</li>
            <li>Bathrooms</li>
            <li>Bedrooms</li>
        </ul>
    </div>
    <div class="w-3">
        <h3>Newest Projects</h3>
        <ul>
            <li>Tudor Home</li>
            <li>Kitchen Remodel</li>
            <li>Bathroom Remodel</li>
        </ul>
    </div>
    <div class="w-3">
        <h3>About Us</h3>
        <ul>
            <li>The Company</li>
            <li>The Team</li>
            <li>Giving Back</li>
        </ul>
    </div>
</div>

<div class="copyright w-12"><a href="#">@T("&#169; Merrick Home Construction LLC " + @DateTime.Now.Year)</a></div>
