@{
    var homeUrl = Href("~/");

}
<div class="waffles">
    <h1 id="site-title" class="w-12 w-alpha w-omega">
            <a href="@homeUrl" class="site-title-link">@WorkContext.CurrentSite.SiteName</a>
    </h1>
</div>
