/*
Theme: Merrick
*/

/* Zones */

.zone-wrapper
{
    width: 100%;
}

.zone
{
    width: 100%;
}

#Zone-PreBody
{
}

#Zone-Search
{
}

#Zone-Header
{
}

#Zone-Navigation
{
}

#Zone-Billboard
{
}

#Zone-SideAlpha
{
}

#Zone-SideOmega
{
}

#Content-Wrapper
{
}

#Zone-PreCOntent
{
}

#Zone-Content
{
}

#Zone-PostContent
{
}


#Zone-Footer
{
    background-color: black;
    color: gray;
    padding: 5px;
}


#Main-Wrapper
{
    background-color: #ffffff;
    padding: 10px 50px;
}

body
{
    background-color: #840405; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzg0MDQwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzYwMDYwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDA0MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #840405 1%, #600603 65%, #640405 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#840405), color-stop(65%,#600603), color-stop(100%,#640405)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #840405 1%,#600603 65%,#640405 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #840405 1%,#600603 65%,#640405 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #840405 1%,#600603 65%,#640405 100%); /* IE10+ */
    background: linear-gradient(to bottom, #840405 1%,#600603 65%,#640405 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840405', endColorstr='#640405',GradientType=0 ); /* IE6-8 */

/*background-image: url(../Views/assets/noisy-texture-200x200-o5-d22-c-6b1018-t1.png);*/
    
}

/*.user-display .welcome .user-actions
{
    display: none !important;
    visibility: hidden;
}*/

.credits
{
    text-align: center;
}

    .credits a
    {
        color:gray;
    }

        .credits a:hover
        {
            color: white;
        }

.copyright
{
}

.contactinfo
{
/*background-color:green;*/
}

.footerinfo ul, ol
{
margin: 0.7em 1.5em;
line-height: 1.8em;

}

/* Main
***************************************************************/

/* Content lists and details */

.content-description
{
    font-size: 1.154em;
}

.content-items
{
    padding: 0;
    margin: 0;
    list-style: none;
}

    .content-items li
    {
        padding: 0;
        margin: 0;
    }

    .content-items .content-item
    {
        border-top: 1px solid #dbdbdb;
        padding: 6px 0 6px 0;
    }

        .content-items .content-item header
        {
        }

            .content-items .content-item header h1
            {
                font-size: 1.308em;
                color: #434343;
            }

                .content-items .content-item header h1 a
                {
                    color: #434343;
                }

                    .content-items .content-item header h1 a:hover
                    {
                    }

/* Tags */

.tags
{
    margin-top: 12px;
}

    .tags a
    {
        background-color: #dbdbdb;
        padding: 3px 6px;
        color: #434343;
    }

        .tags a:hover
        {
            background-color: #434343;
            color: #fff;
        }

/* Metadata */

.metadata
{
    display:none;
    /*margin: 0 0 12px 0;
    color: #999;
    font-size: 0.846em;*/
}

    /*.metadata .published
    {
        display: inline;
        margin: 0 6px 0 0;
    }

    .metadata .commentcount
    {
        display: inline;
    }

.meta
{
}*/

/* Comments */

#comments
{
    margin: 24px 0 0 0;
    padding: 0;
}

.comment-form
{
    margin: 24px 0 0 0;
    padding: 0;
}

.comments
{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .comments li
    {
        margin: 12px 0 0 0;
        padding: 12px;
        border: 1px solid #dbdbdb;
    }

.comment
{
    margin: 0;
    padding: 0;
}

    .comment h4
    {
        font-size: 1.077em;
    }

    .comment .who
    {
    }

    .comment .what
    {
    }

    .comment #add-comment
    {
    }

.comment-form #comment-by
{
    font-size: 1.231em;
    font-weight: normal;
    margin: 0 0 1.2em 0;
    border: none;
}

.comment-form #comment-text
{
    width: 33.2em;
}

.comment-form input[type="text"]
{
    width: 32em;
}

.comment-disabled
{
}

.comment-count
{
    font-size: 1.231em;
}

/* Confirmations */

.message, .validation-summary-errors
{
    margin: 10px 0 4px 0;
    padding: 4px;
}

.messages a
{
    font-weight: bold;
}

.message-Information
{
    background: #e6f1c9; /* green */
    border: 1px solid #cfe493;
    color: #062232;
}

.message-Warning
{
    background: #fdf5bc; /* yellow */
    border: 1px solid #ffea9b;
}

.critical.message, .validation-summary-errors, .message-Error
{
    background: #e68585; /* red */
    border: 1px solid #990808;
    color: #fff;
}





/* Widgets
***************************************************************/

.widgets
{
}

.widget h1
{
    font-size: 1.077em;
}

/* Edit Mode Widgets */
/* These are the edit controls that appear when you're logged-in */

.widget-control
{
    position: relative;
    border: 1px dotted #5f97af;
}

    .widget-control .manage-actions
    {
        position: absolute;
        top: 0px;
        right: 0px;
    }

        .widget-control .manage-actions a
        {
            display: block;
            background-color: #dbdbdb;
            color: #434343;
            padding: 3px 6px;
        }

            .widget-control .manage-actions a:hover
            {
                background-color: #434343;
                color: #fff;
                text-decoration: none;
            }

/* Content Mode */

.content-control
{
    border: 1px dotted #5f97af;
    overflow: auto;
    position: relative;
}

    .content-control .manage-actions
    {
        position: absolute;
        top: 0px;
        right: 0px;
    }

        .content-control .manage-actions a
        {
            display: block;
            background-color: #dbdbdb;
            color: #434343;
            padding: 3px 6px;
        }

            .content-control .manage-actions a:hover
            {
                background-color: #434343;
                color: #fff;
                text-decoration: none;
            }



/* Pager
***************************************************************/

.pager
{
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
}

    .pager li
    {
        float: left;
        padding: 0 12px 0 0;
        margin: 0;
    }

    .pager a, .pager span
    {
        font-size: 1.077em;
        display: block;
        background-color: #dbdbdb;
        padding: 6px 6px;
        color: #434343;
    }

        .pager a:hover
        {
            background-color: #434343;
            color: #fff;
        }

    .pager span
    {
        background-color: inherit;
    }




/*Corner-decorations*/



.theme-form-decoration-corners
{
    /*-webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
}

/*Other*/

.narrow-billboard
{
    min-height: 70px;
    background-color: rgba(240,240,240,0.9);
}

    .narrow-billboard:hover
    {
        min-height: 125px;
        background-color: rgba(240,240,240,0.9);
    }


.widget-search-form
{
    height: 40px;
}

.widget-side-omega
{
    margin-bottom: 15px;
}

#Zone-Navigation
{
    z-index: 2;
}

#Zone-Billboard
{
    overflow: hidden;
    z-index: 2;
}

.zone-billboard
{
    background: rgb(76,76,76);
}
